.doc-cont-view {
  background-color: white;
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}

.doc-list {
  min-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: silver;
  padding: 5px;

  &-item {
    padding: 2px;
    cursor: default;
  }

  &-item-select {
    background-color: white;
  }
}

.doc-content {
  display: flex;
  position: relative;
  flex-grow: 1;
  padding: 6px;
  background-color: lightblue;

  & .pt-tabs {
    background-color: silver;

    & .pt-tab-list {
      padding: 3px;
    }
  }
}